# Linear Regression for missing data prediction
Insulin has the highest no of missing values. Therefore, glucose and output will act as the independent variables for predicting insulin (dependent variable).

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt #for visualization and plot
import csv,sklearn

from subprocess import check_output

In [2]:
#read newly coded diabetes data 
data = pd.read_csv('input/diabetes2.csv',encoding='latin1')
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Output
0,6,148,72,35,0,33.6,0.627,50,1,2
1,1,85,66,29,0,26.6,0.351,31,0,0
2,8,183,64,0,0,23.3,0.672,32,1,2
3,1,89,66,23,94,28.1,0.167,21,0,0
4,0,137,40,35,168,43.1,2.288,33,1,2

In [3]:
#here only variables which highly correlate with outcome from the second notebook is retained
data = data[['Glucose','Insulin','Output']]
data.head()

   Glucose  Insulin  Output
0      148        0       2
1       85        0       0
2      183        0       2
3       89       94       0
4      137      168       2

In [4]:
#delete zero row entries
data= data[data['Insulin'] != 0]
data= data[data['Glucose'] != 0]

#save non-zero entry data as 
data.to_csv('input/diabetesNonzero.csv', index=False)

#perform descriptive analysis
data.describe()

          Glucose     Insulin      Output
count  393.000000  393.000000  393.000000
mean   122.615776  155.885496    1.173028
std     30.822276  118.738199    0.802156
min     56.000000   14.000000    0.000000
25%     99.000000   77.000000    1.000000
50%    119.000000  125.000000    1.000000
75%    143.000000  190.000000    2.000000
max    198.000000  846.000000    2.000000

In [5]:
from sklearn.model_selection import train_test_split
splitRatio = 0.2

train , test = train_test_split(data,test_size = splitRatio,random_state = 123)

X_train = train[[x for x in train.columns if x not in ["Insulin"]]]
y_train = train[["Insulin"]]

X_test  = test[[x for x in test.columns if x not in ["Insulin"]]]
y_test  = test[["Insulin"]]

In [6]:
from sklearn.model_selection import train_test_split 
#X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=0)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(314, 2)
(314, 1)
(79, 2)
(79, 1)

In [64]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.metrics import accuracy_score

#model = Ridge()
#model = Lasso()
#best model
model =  LinearRegression()
model.fit(X_train,y_train)
prediction = model.predict(X_test)

In [65]:
#visualize train and test accuracy
#from sklearn.metrics import score

#print("Train acc: " , model.score(X_train, y_train))
#print("Test acc: ", model.score(X_test, y_test))

# The mean squared error
print("Mean squared error: %.2f" % mean_squared_error(y_test, prediction))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(y_test, prediction))

Mean squared error: 6199.25
Variance score: 0.20

In [66]:
#Test model on unknown sample, given glucose and output label
new_df = pd.DataFrame([[144,2]])

# We predict insulin
prediction = model.predict(new_df)


print(prediction.astype(int))

[[211]]

In [67]:
#new_df = pd.DataFrame([[141,44]])
new_df = pd.read_csv('input/diabetestest2.csv',encoding='latin1')

# We predict the outcome
prediction = model.predict(new_df)
prediction = prediction.astype(int)

In [52]:
out=pd.DataFrame(prediction, columns=['Insulin'])
out.to_csv('input/diabetespredresult.csv',index=False, header=True)